 /* CSS geral da página  */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #12E340;
    color: #000000;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
    padding: 0;
}

main {
    padding: 2rem;
}

 /* CSS da section introdução  */

.introducao {
    text-align: center;
    margin-bottom: 2rem;
}

.introducao h2 {
    margin: 0;
    padding: 1rem 0;
}

.introducao p {
    line-height: 1.5;
}

.introducao button {
    background-color: #12E340;
    color: #000000;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

 /* CSS do button de login  */

.btnbanner {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 60px;
}

.color_main{
    background-color: #12E340;
}


.flex-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

 /* CSS da section Ferramentas  */

 .Ferramentas {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.secao4-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.secao4-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 60px);
    margin: 10px;
    padding: 20px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: white;
    transition: all 0.5s ease;
}

.secao4-div-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.secao4-div-card img {
    width: 35%;
    height: auto;
}

.secao4-div-card h3 {
    margin-bottom: 0px;
}
